.course {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  /* padding: 0px 10px 10px 0; */
  /* margin-right: 1.6rem; */
  max-width: 37.5rem;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1.6rem;
  display: "";
}
.course .popup{
  display: none;
  background-color: #fff;



}
.course:hover .popup{
  display: inline;
  position: absolute;
  width:30rem;
  margin-left: 107%;
  z-index: 1;
  padding: 10% 10% 10% 10%;
  border: 1px solid #dadadb;
  margin-top: -8rem;
  background-color: #fff;

}
.course:hover .popup:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 40%;
  width: 0px;
  height: 0px;
  border-top: 13px solid transparent;
  border-right: 26px solid rgb(246, 245, 245) ;
  border-bottom: 13px solid transparent;

}
.FullList{
  color: #1c1d1f;
  font-weight: 400;
  list-style: none;
  display: grid;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0 2.4rem ;
  list-style: none;
}
.LearnList{
  line-height: 1.4;
  color: black;
  font-size: 1.4rem;
  font-weight: 450;
  padding-top: 1rem ;

}
.FullList li::marker  {
  content: '✓ ';
}
.AddInfo{
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #6e6d6d;
}
.Date{
  color:#29724c;
  font-weight: 400;
  font-size: 1.3rem;
  padding-top: 1rem;
}
.course h3 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.instructor {
  margin-bottom: 0.4rem;
}

.rate {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rate i {
  color: #df941f;
}

.rateNo {
  bottom: 20px;
  font-size: small;
  margin-right: 0.4rem;
  color: #b4690e;
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.4rem;
  /* color: #1c1d1f; */
  text-align: left;
}

.totalRates {
  color: #6a6f73;
  margin-left: 0.4rem;
}

.price {
  align-items: center;
  color: #1c1d1f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.4rem;
  /* justify-content: center; */
}

.price h3 {
  line-height: 1;
  padding: 0;
  margin-right: 0.8rem;
  white-space: nowrap;
}

.price p {
  margin-right: 0;
  line-height: 1;
  padding: 0.4rem 0;
  margin-right: 0.8rem;
  white-space: nowrap;
  color: #6a6f73;
}

.bestseller {
  display: flex;
  margin: 0.8rem 0 0.4rem;
  gap: 0.4rem 0.8rem;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  /* padding: 0.4rem 0.8rem; */
  white-space: nowrap;
}

/* we don't use camel case in css files */
.totalRates {
  /* position: relative; */
  bottom: 20px;
  color: gray;
  font-size: small;
}

.instructor {
  /* position: relative; */
  bottom: 25px;
  color: gray;
  font-size: small;
  margin: 0px;
}

.courseImg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 1px solid #d1d7dc;
}

.courseImg:hover {
  transition: opacity linear 100ms;
  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0.8;
}

.courseImg img:hover {
  filter: grayscale(0.2);
}

.bestseller {
  display: flex;
  margin: 0.8rem 0 0.4rem;
  gap: 0.4rem 0.8rem;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
}

.textHeadingSM {
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.4rem;
  color: #1c1d1f;
}

.textSM {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.4rem;
  color: #1c1d1f;
  text-align: left;
  vertical-align: middle;
}

.textHeadingXS {
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.2rem;
}

.textHeadingMD {
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.6rem;
}

.textXS {
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
}
